@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Playwrite+AR:wght@400&family=Shantell+Sans:wght@400;600;700&family=Sniglet:wght@400&display=swap");
@import "tailwindcss";

@theme {
  --color-rosa:  #EB6B91;
  --color-rosa-claro: #FFE3E9;

  --color-celeste: #89C7B6;
  --color-celeste-claro: #E0F7F5;

  --color-lila: #B78BD7;
  --color-lila-claro: #F3ECFF;

  --color-naranja: #F7B332;

  --color-gris: #3B3B3B;  
  --color-gris-medio: #7d8260;

  --color-gris-claro: #B4BC89;

  --color-fondo: #FFF8F5;

  --radius-xl: 2rem;
  --radius-lg: 1.5rem;
}

* {
  transition:
    color .2s,
    background-color .2s,
    border-color .2s;
}

.font-logo {
  font-family: "Playwrite AR", cursive;
}

.font-title {
  font-family: "Shantell Sans", cursive;
}

.font-hand {
  font-family: "Sniglet", cursive;
}

.font-body {
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-fondo);
  font-family: "Nunito", sans-serif;
}

.slide-horizontal {
  display: inline-flex;
  animation: slide-horizontal 12s linear infinite;
}

@keyframes slide-horizontal {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}